<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do App</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <script type="text/javascript" src="/assets/todo-list.js"></script>
  </head>
  <body>
    <h1>My Todo List</h1>
    <div id="todo-table">
      <form method="POST">
        <input type="text" name="item" value="" placeholder="Add new item..." required>
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <% for(var i=0; i<todos.length; i++){ %>
          <li><%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
